/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --color-green: #48d361;
  --color-gray: #f0f0f5;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #f0f0f5;
  background-image: url("/assets/images/background-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.text-secondary {
  color: #888;
}

.pointer {
  cursor: pointer;
}
